{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [{ersip,    ".*", {git, "http://github.com/poroh/ersip.git", {branch, "master"}}},
        {erl_lru,  ".*", {git, "http://github.com/poroh/erl_lru.git", {branch, "master"}}},
        {nkpacket, ".*", {git, "http://github.com/poroh/nkpacket.git", {branch, "rc-hbc"}}}
       ]}.

{relx, [{release, { erproxy, "0.1.0" },
         [erproxy,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.


{ overrides,
  [
    { override, eper,
      [ {erl_opts, [debug_info]}
      ]
    }
  ]
}.

% {shell, [{apps, []}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
